* {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.colors {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
}

p {
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 7%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: max(10px, 2vw);
    color: white;
}

.btn {
    position: fixed;
    top: 700px;
    left: 47%;
    cursor: pointer;
}
